<div class="container ">
    <form class="form mat-elevation-z8">

        <h1>Help Desk - My Spring Angular Project</h1>

        <img src="assets/img/login-image.svg" alt="Help Desk - My Spring Angular Project">

        <mat-form-field class="field full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input 
          [formControl]="email"
          required
          [(ngModel)]="creds.email" 
          name = "email" 
          matInput placeholder=" Eg. someone@mail.com">
        </mat-form-field><br>

        <mat-form-field class="field full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input 
            [formControl]="password"
            required
            [(ngModel)] ="creds.password" 
            name = "password" type ="password" 
            matInput placeholder="Eg. 123">
          </mat-form-field>
        
          <button (click)="logar()" [disabled]="!validFields()" class="btn mat-elevation-z4" mat-stroked-button color="primary">Login</button>

       
          </form>
      
</div>